@using IdentityServer4.Extensions
@model Authentication.Api.Models.ViewModels.Users.UserLoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-xl-4 col-md-7 col-10">
                <form method="post" asp-action="Login">
                    <h1 class="display-3 m-5 text-center">Sign in</h1>
                    <div class="invalid-feedback" asp-validation-summary="All" 
                         style="display: block;">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" 
                               placeholder="Login" asp-for="Login" />
                    </div>
          
                    <div class="mb-1">
                        <input type="password" class="form-control form-control-lg"
                               placeholder="Password" asp-for="Password" />
                    </div>
                        
                    <div class="d-flex justify-content-center text-center mb-5">
                        <strong>
                            <a asp-controller="Authentication" asp-action="Registration">Sign up</a>
                        </strong>
                    </div>
                        
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-50 btn-lg">Login</button>
                    </div>
                    
                    <p>@User.IsAuthenticated()</p>
                </form>
            </div>
        </div>
    </div>
</section>